<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
      <% if flash[:notice] %>
       <p class=show_flash><%= flash[:notice] %></p>
      <% end %>
      <p class="show_item"><strong>Title:</strong><%= @book.title %></p>
      <p class="show_item"><strong>Body:</strong><%= @book.body %></p>
      <%= link_to "Edit", edit_book_path(@book) %>
      | 
      <a href="/books">Back</a>
    <%= yield %>
  </body>
</html>